/*General Styles*/

* {
  box-sizing: border-box;
  outline-color: #3e2a34;
}

body {
  color: #c2b2b4;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

input, button {
  height: 50px;
  padding: 5px 10px;
}

button {
  border: none;
}


/*Header*/

header {
  align-items: center;
  background: #3e2a34;
  display: flex;
  height: 90px;
  padding: 40px;
}

h1 {
  color: #fff;
  font-size: 2.75rem;
  font-weight: 800;
  letter-spacing: 3px;
}

h1 img {
  padding: 0px 8px;
  width: 68px;
}

.search-box {
  align-items: center;
  display: flex;
  flex: 25%;
  justify-content: flex-end;
}

.search-input {
  border-radius: 5px 0px 0px 5px;
  border-right: none;
  border: 2px solid #c2b2b4;
  height: 40px;
  width: 275px;
}

.search-input::placeholder {
  color: #c2b2b4;
  font-size: 1.1rem;
}

.search-btn {
  background: #c2b2b4;
  border-radius: 0px 5px 5px 0px;
  height: 40px;
  width: 40px;
}

i.fa-lg {
  color: #fff;
  font-size: 1.2em;
}


/*Form*/

.page__content {
  background: #3e2a34;
}

.form-section {
  margin: auto;
  min-width: 700px;
  padding-top: 40px;
  width: 50%;
}

.add-photo-form input, 
.add-photo-form button {
  border: none;
  height: 50px;
}

input {
  color: #7c7879
  font-size: 18px;
}

button {
  background: #5b4447;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #938284;
}

.form-section button {
  margin-bottom: 45px;
}

label {
  color: #c2b2b4;
  margin-bottom: 10px;
}

.add-photo-form {
  display: flex;
  flex-direction: column;
}

.char-txt {
  color: #826e70;
  font-size: .9rem;
  margin: 8px 0px 25px 3px;
}

.error {
  color: #b72a14;
}

.photo-options {
  display: flex;
  justify-content: space-between;
}

.photo-option-btn {
  width: 40%;
}

.photo-title-input:focus,
.photo-caption-input:focus,{
  outline: 0;
}

.new-file-input {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.new-file-input + label.new-file-label {
  background: #5b4447;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-bottom: 35px;
  text-align: center;
}

label.new-file-label {
  align-items: center;
  justify-content: center;
}

.new-file-input:focus + label.new-file-label,
.new-file-input + label.new-file-label:hover {
  background-color: #938284;
}

.new-file-input:focus + label.new-file-label {
  outline: 1px dotted #3e2a34;
  outline: -webkit-focus-ring-color #3e2a34 5px;
}

.add-btn:disabled {
  background: #54424a;
  color: lightgrey;
}


/*Photo card area*/

.photo-section {
  background: #c2b2b4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-template-rows: auto;
  padding: 15px 20px;
}

.welcome {
  color: #3e2a34;
  font-size: 1.8rem;
  grid-column-end: 5;  
  grid-column-start: 1;
  grid-template-rows: 1fr;
  margin: 20px auto;
}

.photo-card {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 340px;
}

.card-main {
  background: #fff;
  border: 2px solid #928284;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 345px;
}

.card-txt {
  color: #3e2a34;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  min-height: 2.75rem;
  overflow: hidden;
  padding: .5rem .8rem .6rem .8rem;
}

.card-txt:focus {
  outline: none;
}

.card-photo {
  height: 200px;
}

.card-photo > input {
  display: none;
}

.card-photo img {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  width: 100%;
}

.card-footer {
  align-items: center;
  background: #5b4447;
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
}

.btn-image {
  background-repeat: no-repeat;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.delete-btn {
  background-image: url('images/delete.svg');
}

.delete-btn:hover {
  background-image: url('images/delete-active.svg')
}

.favorite-btn {
  background-image: url('images/favorite.svg');
}

.favorite-btn-active {
  background-image: url('images/favorite-active.svg');
}

.favorite-btn:hover {
  background-image: url('images/favorite-active.svg')
}

.show-hide {
  background: #c2b2b4;
  margin: auto;
  padding: 25px;
  width: 100%;
}

.show-btn {
  display: block;
  margin: auto;
  outline-color: #c2b2b4;
  width: 30%;
}

.hidden,
button.hidden {
  display: none;
}


/*Animations*/ 

.flashit {
  -webkit-animation: flash linear 1s;
  animation: flash linear 1s;
}

@-webkit-keyframes flash {
  0% { opacity: .1; } 
  100% { opacity: 1; }
}

@keyframes flash {
  0% { opacity: .1; } 
  100% { opacity: 1; }
}

.fade-in {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  opacity: 1;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pb-animation img {
  left: -400px;
  position: absolute;
  top: -40px;
  width: 300px;
  z-index: 1;
}

.mr-pb {
    animation: fly 4s linear;
}

@keyframes fly {
  0% {
      transform: translate(2000px, 0px);
  }
  100% {
      transform: translate(-300px, 0px);
  }
}


/*Media Queries*/

@media only screen and (max-width:980px) {
  .form-section {
    min-width: 500px;
    width: 80%;
  }

  header {
    align-content: center;
    flex-direction: column;
    height: 100px;
    padding: 0px;
  }

  h1 {
    margin: 10px;
  }

  .search-box {
    flex: initial;
    min-width: 380px;
    width: 40%;
  }

  .search-box input {
    width: 100%;
  }

  .search-btn {
    margin: 0 auto;
  }

}

@media only screen and (max-width:680px) {
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .search-box {
    min-width: 320px;
    width: 30%;
  }

  .photo-section,
  .show-hide {
    padding: 10px 0px;
  }

  .photo-card {
    max-width: 90%;
    padding: 10px;
  }
}

@media only screen and (max-width:500px) {

  body {
    font-size: 1rem;
  }

  .form-section,
  .search-box {
    min-width: 0px;
    width: 90%;
  }

  h1 {
    font-size: 1.9em;
  }

  .photo-option-btn {
    width: 45%;
  }

/*  .photo-section {
    grid-template-columns: 1fr;
  }*/

  .show-btn {
    width: 90%;
  }
}